* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: auto;
    position: relative;
}

.container .bgImg {
    background-image: url("../../images/space.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    color: rgb(255, 255, 255);
}

.bg_Text_Box {
    position: absolute;
    top: 3rem;
    left: 6rem;
    z-index: 1;
    font-size: 4rem;
    text-align: left;
}
.container .clock {
    position: absolute;
    top: 12rem;
    z-index: 1;
    font-size: 2rem;
    text-align: left;
    color:rgb(210, 185, 185)
}

.container .bg_Text_Header {
    font-size: 3rem;
}

.container .bg_Text {
    width: 400px;
    height: 400px;
    font-size: 1rem;
}

.LaunchRocket__Center {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.LaunchRocket__Center span {
    margin-left: 40px;
}

.LaunchRocket__Center span button {
    border: 0;
    padding: 5px;
    margin: 4px;
    font-size: 1rem;
    background-color: #d1cbcb;
    border: 0;
}


/* Media Query for Mobile Devices */
@media (min-width: 373px) {
    .bg_Text_Box {
        font-size: 0.3rem;
        left: 1rem;

    }
    .bg_Text {
        font-size: 10px;
        width: 377px;
        height: 400px;
    }
    .bg_Text_Header {
        font-size: 2rem;
    }
}
/* Media Query for Mobile Devices */
@media (max-width: 380px) {
    .bg_Text_Box {
        font-size: 0.5rem;
        left: 0.2rem;
        width: 170px;
        height: 300px;

    }
    .bg_Text {
        font-size: 10px;
        width: 377px;
        height: 400px;
    }
    .bg_Text_Header {
        font-size: 2rem;
    }
}
  